---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: selfsigned
spec:
  selfSigned: {}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: synapse-gateway-ca
  namespace: kgateway-system
spec:
  isCA: true
  commonName: synapse-gateway-ca
  secretName: synapse-gateway-ca
  privateKey:
    algorithm: ECDSA
    size: 256
  issuerRef:
    name: selfsigned
    kind: ClusterIssuer
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: synapse-gateway-ca
spec:
  ca:
    secretName: synapse-gateway-ca
