apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: gateway-api
spec:
  interval: 1h
  url: https://github.com/kubernetes-sigs/gateway-api
  ref:
    tag: v1.4.0
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: gateway-api-crds
spec:
  interval: 10m
  prune: false
  wait: true
  sourceRef:
    kind: GitRepository
    name: gateway-api
  path: ./config/crd/standard
  kubeConfig:
    secretRef:
      name: cluster-kubeconfig
