---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: crossplane
spec:
  interval: 1h
  url: https://charts.crossplane.io/stable
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: crossplane
spec:
  interval: 30m
  targetNamespace: crossplane-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  kubeConfig:
    secretRef:
      name: cluster-kubeconfig
  chart:
    spec:
      chart: crossplane
      version: "2.x"
      sourceRef:
        kind: HelmRepository
        name: crossplane
      interval: 12h
  values:
    replicas: 1
    resourcesCrossplane:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        memory: 512Mi
    resourcesRBACManager:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        memory: 256Mi
    metrics:
      enabled: true
