---
apiVersion: seaweedfs.io/v1
kind: Seaweed
metadata:
  name: seaweedfs
  namespace: seaweedfs-system
spec:
  image: chrislusf/seaweedfs:latest
  master:
    replicas: 1
    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        memory: 256Mi
    config: |
      [master]
      garbageThreshold = 0.3
  volume:
    replicas: 1
    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        memory: 512Mi
    config: |
      [volume]
      max = 100
  filer:
    replicas: 1
    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        memory: 256Mi
    config: |
      [filer]
      recursive_delete = true
    s3:
      enabled: true
      port: 8333
