---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: argo
  namespace: argocd
spec:
  interval: 1h
  url: https://argoproj.github.io/argo-helm
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: argocd
  namespace: argocd
spec:
  interval: 30m
  chart:
    spec:
      chart: argo-cd
      version: "7.x"
      sourceRef:
        kind: HelmRepository
        name: argo
        namespace: argocd
      interval: 12h
  values:
    configs:
      cm:
        application.resourceTrackingMethod: annotation
        resource.exclusions: |
          - apiGroups:
              - "*"
            kinds:
              - ProviderConfigUsage
      params:
        server.insecure: true
    controller:
      env:
        - name: ARGOCD_K8S_CLIENT_QPS
          value: "300"
    server:
      service:
        type: ClusterIP
