---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: strimzi
spec:
  interval: 1h
  url: oci://quay.io/strimzi-helm
  type: oci
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: strimzi-kafka-operator
spec:
  interval: 30m
  targetNamespace: kafka-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  kubeConfig:
    secretRef:
      name: cluster-kubeconfig
  chart:
    spec:
      chart: strimzi-kafka-operator
      version: "0.45.0"
      sourceRef:
        kind: HelmRepository
        name: strimzi
      interval: 12h
  values:
    replicas: 1
    watchAnyNamespace: true
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        memory: 512Mi
