---
apiVersion: v1
kind: Secret
metadata:
  name: route53-credentials
  namespace: cert-manager
type: Opaque
stringData:
  secret-access-key: <your-aws-secret-access-key>
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: <your-email@example.com>
    privateKeySecretRef:
      name: letsencrypt-prod-account-key
    solvers:
      - dns01:
          route53:
            region: us-east-1
            accessKeyID: <your-aws-access-key-id>
            secretAccessKeySecretRef:
              name: route53-credentials
              key: secret-access-key
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: synapse-gateway
  namespace: kgateway-system
spec:
  secretName: synapse-gateway-tls
  duration: 2160h
  renewBefore: 360h
  privateKey:
    algorithm: ECDSA
    size: 256
  dnsNames:
    - "*.synapse.mabbott.dev"
    - dev.argocd.synapse.mabbott.dev
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
